<launch>
	<!-- arducam -->
        <arg name="camera_config" value="AR0134_640x484_trigger.json" />
        <arg name="serial_number" value="" />
        <arg name="horizontal_flip" value="false" />
        <arg name="vertical_flip" value="false" />
        <arg name="frame_id" value="cam0" />

        <node name="arducam_ros_node" pkg="arducam_usb2_ros" type="arducam_trigger_ros_node.py" output="log">
            <param name="config_file" value="$(find arducam_usb2_ros)/camera_config_files/$(arg camera_config)" />
            <param name="camera_serial" value="$(arg serial_number)" />
            <param name="horizontal_flip" value="$(arg horizontal_flip)" />
            <param name="vertical_flip" value="$(arg vertical_flip)" />
            <param name="frame_id" value="$(arg frame_id)" />
        </node>

	<!-- vins-mono -->
	<arg name="config_path" default = "$(find vision_flight)/config/arducam_vins_mono.yaml" />
	<arg name="vins_path" default = "$(find feature_tracker)/../config/../" />

	<node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
	    <param name="config_file" type="string" value="$(arg config_path)" />
            <param name="vins_folder" type="string" value="$(arg vins_path)" />
        </node>

        <node name="pose_graph" pkg="pose_graph" type="pose_graph" output="log">
            <param name="config_file" type="string" value="$(arg config_path)" />
            <param name="visualization_shift_x" type="int" value="0" />
            <param name="visualization_shift_y" type="int" value="0" />
            <param name="skip_cnt" type="int" value="0" />
            <param name="skip_dis" type="double" value="0.1" />
        </node>

        <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen">
            <param name="config_file" type="string" value="$(arg config_path)" />
            <param name="vins_folder" type="string" value="$(arg vins_path)" />
        </node>
</launch>
